
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');



body {
  font-family: sans-serif;
  background: rgb(0, 0, 0) 0%;
  font-family: 'Pixelify Sans', sans-serif;
  color: #f8f8f8;
}


#title {

 display: flex;
  gap: 20px;
  flex-direction: column;
  align-content: stretch;
  align-items: center;
  justify-content: start;



}




.loading {
  font-size: 1.5rem;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0.4;
  }
}

 
.hide {

display: none;

}


#form {

 display: flex;
  gap: 20px;
  flex-direction: column;
  align-content: stretch;
  align-items: center;
  justify-content: start;


}

#input {

 background-color: #1a1a1a;
  gap: 20px;
  border-radius: 8px;
color: #f8f8f8;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: 'Pixelify Sans', sans-serif;
}

#btn{

          

  gap: 20px;
  border-radius: 8px;
color: #f8f8f8;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;

  background-color: #1a1a1a;
  cursor: pointer;
  font-family: 'Pixelify Sans', sans-serif;
   
}

 
button:hover {
   
  transform: scale(1.1);
}


#cont {

 display: flex;
  gap: 20px;
  flex-direction: column;
  align-content: stretch;
  align-items: center;
  justify-content: start;
  text-align: center;

}

#contbtn {

 display: flex;
  gap: 20px;
  flex-direction: column;
  align-content: stretch;
  align-items: center;
  justify-content: start;


}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}